# Archivos del sistema, IDEs y Compilados
.idea/
*.iml
target/
.vs/
*.user
*.suo

# C# / .NET / BenchmarkDotNet
[Bb]in/
[Oo]bj/
BenchmarkDotNet.Artifacts/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Base de datos y archivos de prueba locales
*.db
*.txt
!README.md

# Ignorar contenido de datos y bases de datos
data/datalake/*
data/control/*
data/index/*
data/*.db

# Mantener los archivos .gitkeep para subir las carpetas vacías
!data/**/.gitkeep

# EXCEPCIÓN: SÍ queremos subir los CSVs de benchmarks
!data/benchmarks/*.csv
