# Archivos del sistema e IDE
.idea/
*.iml
target/

# Base de datos y archivos de prueba locales
*.db
*.txt
!README.md

# Ignorar todo el contenido de datos y bases de datos
data/datalake/*
data/control/*
data/index/*
data/*.db

# Mantener los archivos .gitkeep para subir las carpetas vacías
!data/**/.gitkeep